global
	maxconn 4096
	pidfile /var/run/haproxy.pid
	user haproxy
	group haproxy

defaults
	balance roundrobin
	mode http
	option forwardfor
	timeout client 30s
	timeout connect 30s
	timeout server 30s

frontend http-in
	bind :80
{{range $host, $containers := groupBy $ "Env.VIRTUAL_HOST"}}
	acl is_{{$host}} hdr_end(host) -i {{$host}}
	use_backend host_{{$host}} if is_{{$host}}
{{end}}

{{range $host, $containers := groupBy $ "Env.VIRTUAL_HOST"}}
backend host_{{$host}}
	{{range $index, $value := $containers}}
		{{range $address := $value.Addresses}}
			{{if eq $address.Port "80"}}
	server {{$host}}_{{$address.HostPort}} {{$value.Gateway}}:{{$address.HostPort}}
			{{end}}
		{{end}}
	{{end}}
{{end}}
