global
	maxconn 4096
	user haproxy
	group haproxy

defaults
	balance roundrobin
	mode http
	option forwardfor
	option httpclose
	timeout client 50000ms
	timeout connect 5000ms
	timeout server 50000ms

frontend http-in
	bind *:80
	acl is_site1 hdr_end(host) -i domain1.se
	acl is_site2 hdr_end(host) -i domain2.com

	use_backend site1 if is_site1
	use_backend site2 if is_site2

backend site1
	server s2 127.0.0.1:49153 maxconn 32

backend site2
	balance roundrobin
	server s1 127.0.0.1:2082 maxconn 32

listen admin
	bind 127.0.0.1:8080
	stats enable

{{range $host, $containers := groupBy $ "Env.VIRTUAL_HOST"}}
	upstream {{$host}} {
		{{range $index, $value := $containers}}
			{{with $address := index $value.Addresses 0}}
				server {{$address.IP}}:{{$address.Port}};
			{{end}}
		{{end}}
	}

	server {
		#ssl_certificate /etc/nginx/certs/demo.pem;
		#ssl_certificate_key /etc/nginx/certs/demo.key;

		gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

		server_name {{$host}};
		proxy_buffering off;

		location / {
			proxy_pass http://{{$host}};
			include /etc/nginx/proxy_params;
		}
	}
{{end}}
